*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

.left{
	background-color:rgb(217,54,66);
	color:white;
}

.middle{
	background-color:rgb(252,193,6);
	color:black;
}

.right{
	background-color:rgb(24,137,89);
	color:white;
}

#container{
	margin:26px;
	display:flex;
	overflow:hidden;
	border-radius:5px;
	width:fit-content;
	
}

a{
	text-decoration:none;
	padding:8px 12px;
}